#-----------------------------------------------------------------------
# Developer shit
#-----------------------------------------------------------------------

/.local/
/nbproject/
.DS_Store
Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
/logfile
/node_modules
Gruntfile.js